AIMToolkit_v4.1.0_rv44/doc/AIM_v4_rv44_XML.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 rel. 2 sp1 (x64) (http://www.altova.com) by Pat Mongkolwat (Northwestern University) -->
<!-- By the AIM team at Northwestern University -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="gme://caCORE.caCORE/4.4/edu.northwestern.radiology.AIM" xmlns:iso="uri:iso.org:21090" targetNamespace="gme://caCORE.caCORE/4.4/edu.northwestern.radiology.AIM" elementFormDefault="qualified" version="AIM_v4_rv44_XML">
	<xs:import namespace="uri:iso.org:21090" schemaLocation="ISO_datatypes_Narrative.xsd"/>
	<xs:simpleType name="AimVersion">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AIMv1_0"/>
			<xs:enumeration value="AIMv2_0"/>
			<xs:enumeration value="AIMv3_0_1"/>
			<xs:enumeration value="AIMv3_0_2"/>
			<xs:enumeration value="AIMv4_0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CalculationResultIdentifier">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Array"/>
			<xs:enumeration value="Binary"/>
			<xs:enumeration value="Histogram"/>
			<xs:enumeration value="Matrix"/>
			<xs:enumeration value="Scalar"/>
			<xs:enumeration value="Vector"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ComparisonOperator">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Equal"/>
			<xs:enumeration value="NotEqual"/>
			<xs:enumeration value="LessThan"/>
			<xs:enumeration value="LessThanEqual"/>
			<xs:enumeration value="GreaterThan"/>
			<xs:enumeration value="GreaterThanEqual"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ScaleType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Nominal"/>
			<xs:enumeration value="Ordinal"/>
			<xs:enumeration value="Ratio"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="TwoDimensionMultiPoint">
		<xs:complexContent>
			<xs:extension base="TwoDimensionGeometricShapeEntity"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GeneralImage">
		<xs:sequence>
			<xs:element name="patientOrientationColumn" type="iso:ST" minOccurs="0"/>
			<xs:element name="patientOrientationRow" type="iso:ST" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CharacteristicQuantification" abstract="true">
		<xs:sequence>
			<xs:element name="annotatorConfidence" type="iso:REAL" minOccurs="0"/>
			<xs:element name="characteristicQuantificationIndex" type="iso:INT" minOccurs="0"/>
			<xs:element name="label" type="iso:ST"/>
			<xs:element name="valueLabel" type="iso:ST" minOccurs="0"/>
			<xs:element name="valueDescription" type="iso:ST" minOccurs="0"/>
			<xs:element name="comment" type="iso:ST" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AnnotationOfAnnotationHasAnnotationOfAnnotationStatement">
		<xs:complexContent>
			<xs:extension base="AnnotationOfAnnotationStatement"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ThreeDimensionGeometricShapeEntityIsComprisedOfThreeDimensionGeometricShapeEntityStatement">
		<xs:complexContent>
			<xs:extension base="ImageAnnotationStatement"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AnnotationOfAnnotationHasAnnotationRoleEntityStatement">
		<xs:complexContent>
			<xs:extension base="AnnotationOfAnnotationStatement"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CalculationData">
		<xs:sequence>
			<xs:element name="value" type="iso:ST"/>
			<xs:element name="coordinateCollection">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Coordinate" type="Coordinate" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ImageAnnotationIsComparedWithAnnotationOfAnnotationStatement">
		<xs:complexContent>
			<xs:extension base="AnnotationStatement"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GeneralLesionObservationEntityHasImagingPhysicalEntityStatement">
		<xs:complexContent>
			<xs:extension base="ImageAnnotationStatement"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Image">
		<xs:sequence>
			<xs:element name="sopClassUid" type="iso:II"/>
			<xs:element name="sopInstanceUid" type="iso:II"/>
			<xs:element name="imagePlane" type="ImagePlane" minOccurs="0"/>
			<xs:element name="generalImage" type="GeneralImage" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ImageAnnotationHasTwoDimensionGeometricShapeEntityStatement">
		<xs:complexContent>
			<xs:extension base="ImageAnnotationStatement"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AuditTrail">
		<xs:sequence>
			<xs:element name="statusCode" type="iso:CD"/>
			<xs:element name="dateTime" type="iso:TS"/>
			<xs:element name="changeReason" type="iso:CD"/>
			<xs:element name="worklistSubtaskUid" type="iso:II" minOccurs="0"/>
			<xs:element name="comment" type="iso:ST" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ImagingPhysicalEntityHasTextAnnotationEntityStatement">
		<xs:complexContent>
			<xs:extension base="ImageAnnotationStatement"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AnnotationOfAnnotationHasInferenceEntityStatement">
		<xs:complexContent>
			<xs:extension base="AnnotationOfAnnotationStatement"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AnnotationCollection" abstract="true">
		<xs:sequence>
			<xs:element name="uniqueIdentifier" type="iso:II"/>
			<xs:element name="description" type="iso:ST" minOccurs="0"/>
			<xs:element name="dateTime" type="iso:TS"/>
			<xs:element name="user" type="User" minOccurs="0"/>
			<xs:element name="equipment" type="Equipment" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="aimVersion" type="AimVersion" use="required"/>
	</xs:complexType>
	<xs:complexType name="Dimension">
		<xs:sequence>
			<xs:element name="index" type="iso:INT"/>
			<xs:element name="size" type="iso:INT"/>
			<xs:element name="label" type="iso:ST"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ImagingObservationEntityIsIdentifiedByTwoDimensionGeometricShapeEntityStatement">
		<xs:complexContent>
			<xs:extension base="ImageAnnotationStatement"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ThreeDimensionGeometricShapeEntityExcludesThreeDimensionGeometricShapeEntityStatement">
		<xs:complexContent>
			<xs:extension base="ImageAnnotationStatement"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ImagingObservationCharacteristic">
		<xs:sequence>
			<xs:element name="typeCode" type="iso:CD" maxOccurs="unbounded"/>
			<xs:element name="questionTypeCode" type="iso:CD" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="annotatorConfidence" type="iso:REAL" minOccurs="0"/>
			<xs:element name="label" type="iso:ST" minOccurs="0"/>
			<xs:element name="comment" type="iso:ST" minOccurs="0"/>
			<xs:element name="questionIndex" type="iso:INT" minOccurs="0"/>
			<xs:element name="characteristicQuantificationCollection" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CharacteristicQuantification" type="CharacteristicQuantification" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Coordinate">
		<xs:sequence>
			<xs:element name="dimensionIndex" type="iso:INT"/>
			<xs:element name="position" type="iso:INT"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DicomSegmentationEntity">
		<xs:complexContent>
			<xs:extension base="SegmentationEntity">
				<xs:sequence>
					<xs:element name="sopInstanceUid" type="iso:II"/>
					<xs:element name="sopClassUid" type="iso:II"/>
					<xs:element name="referencedSopInstanceUid" type="iso:II"/>
					<xs:element name="segmentNumber" type="iso:INT"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ReferencedDicomObject">
		<xs:sequence>
			<xs:element name="modality" type="iso:CD"/>
			<xs:element name="sopInstanceUid" type="iso:II"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UriImageReferenceEntityHasImagingPhysicalEntityStatement">
		<xs:complexContent>
			<xs:extension base="ImageAnnotationStatement"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DicomImageReferenceEntityHasImagingObservationEntityStatement">
		<xs:complexContent>
			<xs:extension base="ImageAnnotationStatement"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ImagingObservationEntityIsIdentifiedByTextAnnotationEntityStatement">
		<xs:complexContent>
			<xs:extension base="ImageAnnotationStatement"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ImageSeries">
		<xs:sequence>
			<xs:element name="instanceUid" type="iso:II"/>
			<xs:element name="modality" type="iso:CD"/>
			<xs:element name="imageCollection">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Image" type="Image" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TwoDimensionGeometricShapeEntityIsComprisedOfTwoDimensionGeometricShapeEntityStatement">
		<xs:complexContent>
			<xs:extension base="ImageAnnotationStatement"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ImageAnnotationHasInferenceEntityStatement">
		<xs:complexContent>
			<xs:extension base="ImageAnnotationStatement"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ImageAnnotationHasGeneralLesionObservationEntityStatement">
		<xs:complexContent>
			<xs:extension base="ImageAnnotationStatement"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AnnotationOfAnnotationHasImagingObservationEntityStatement">
		<xs:complexContent>
			<xs:extension base="AnnotationOfAnnotationStatement"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="UriImageReferenceEntityHasCalculationEntityStatement">
		<xs:complexContent>
			<xs:extension base="ImageAnnotationStatement"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Parameter">
		<xs:sequence>
			<xs:element name="name" type="iso:ST"/>
			<xs:element name="value" type="iso:ST"/>
			<xs:element name="dataType" type="iso:CD"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ImageAnnotationStatement" abstract="true">
		<xs:complexContent>
			<xs:extension base="AnnotationStatement"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Quantile">
		<xs:complexContent>
			<xs:extension base="CharacteristicQuantification">
				<xs:sequence>
					<xs:element name="bins" type="iso:INT"/>
					<xs:element name="selectedBin" type="iso:INT"/>
					<xs:element name="minValue" type="iso:REAL"/>
					<xs:element name="maxValue" type="iso:REAL"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AnnotationOfAnnotationIsComparedWithImageAnnotationStatement">
		<xs:complexContent>
			<xs:extension base="AnnotationOfAnnotationStatement"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DicomImageReferenceEntityHasCalculationEntityStatement">
		<xs:complexContent>
			<xs:extension base="ImageAnnotationStatement"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TimePointLesionObservationEntity">
		<xs:complexContent>
			<xs:extension base="LesionObservationEntity">
				<xs:sequence>
					<xs:element name="calibration" type="iso:BL"/>
					<xs:element name="predecessorLesionTrackingUid" type="iso:II" minOccurs="0"/>
					<xs:element name="comment" type="iso:ST" minOccurs="0"/>
					<xs:element name="therapeuticResponse" type="iso:CD" minOccurs="0"/>
					<xs:element name="qualitativeAssessment" type="iso:CD" minOccurs="0"/>
					<xs:element name="canEvaluateLesion" type="iso:BL" minOccurs="0"/>
					<xs:element name="reasonUnableToEvaluate" type="iso:CD" minOccurs="0"/>
					<xs:element name="canMeasureLesion" type="iso:BL" minOccurs="0"/>
					<xs:element name="reasonUnableToMeasure" type="iso:CD" minOccurs="0"/>
					<xs:element name="isUnequivocalProgression" type="iso:BL" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NonQuantifiable">
		<xs:complexContent>
			<xs:extension base="CharacteristicQuantification">
				<xs:sequence>
					<xs:element name="typeCode" type="iso:CD"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MarkupEntity" abstract="true">
		<xs:complexContent>
			<xs:extension base="Entity"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AnnotationOfAnnotationHasGeneralLesionObservationEntityStatement">
		<xs:complexContent>
			<xs:extension base="AnnotationOfAnnotationStatement"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ImagingObservationEntityIsIdentifiedByThreeDimensionGeometricShapeEntityStatement">
		<xs:complexContent>
			<xs:extension base="ImageAnnotationStatement"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ThreeDimensionPoint">
		<xs:complexContent>
			<xs:extension base="ThreeDimensionGeometricShapeEntity"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="LesionObservationEntity" abstract="true">
		<xs:complexContent>
			<xs:extension base="Entity">
				<xs:sequence>
					<xs:element name="lesionUniqueIdentifier" type="iso:II"/>
					<xs:element name="isAdditionalObservation" type="iso:BL" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ImageAnnotationHasDicomImageReferenceEntityStatement">
		<xs:complexContent>
			<xs:extension base="ImageAnnotationStatement"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CalculationEntityIsComparedWithCalculationEntityStatement">
		<xs:complexContent>
			<xs:extension base="AnnotationOfAnnotationStatement"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AnnotationOfAnnotationHasTimePointLesionObservationEntityStatement">
		<xs:complexContent>
			<xs:extension base="AnnotationOfAnnotationStatement"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AnnotationOfAnnotationHasImageAnnotationStatement">
		<xs:complexContent>
			<xs:extension base="AnnotationOfAnnotationStatement"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DicomSegmentationEntityHasImagingObservationEntityStatement">
		<xs:complexContent>
			<xs:extension base="ImageAnnotationStatement"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TwoDimensionPoint">
		<xs:complexContent>
			<xs:extension base="TwoDimensionGeometricShapeEntity"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Scale">
		<xs:complexContent>
			<xs:extension base="CharacteristicQuantification">
				<xs:sequence>
					<xs:element name="value" type="iso:ST"/>
				</xs:sequence>
				<xs:attribute name="type" type="ScaleType" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CompactCalculationResult">
		<xs:complexContent>
			<xs:extension base="CalculationResult">
				<xs:sequence>
					<xs:element name="value" type="iso:ST"/>
					<xs:element name="encoding" type="iso:CD" minOccurs="0"/>
					<xs:element name="compression" type="iso:CD" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TimePointLesionObservationEntityHasImagingPhysicalEntityStatement">
		<xs:complexContent>
			<xs:extension base="ImageAnnotationStatement"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AnnotationEntityHasPerformedTaskContextEntityStatement">
		<xs:complexContent>
			<xs:extension base="AnnotationStatement"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ImageAnnotationHasImagingPhysicalEntityStatement">
		<xs:complexContent>
			<xs:extension base="ImageAnnotationStatement"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TwoDimensionCircle">
		<xs:complexContent>
			<xs:extension base="TwoDimensionGeometricShapeEntity"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CalculationEntityReferencesCalculationEntityStatement">
		<xs:complexContent>
			<xs:extension base="AnnotationStatement"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ThreeDimensionSpatialCoordinate">
		<xs:sequence>
			<xs:element name="coordinateIndex" type="iso:INT"/>
			<xs:element name="x" type="iso:REAL"/>
			<xs:element name="y" type="iso:REAL"/>
			<xs:element name="z" type="iso:REAL"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TextAnnotationEntity">
		<xs:complexContent>
			<xs:extension base="MarkupEntity">
				<xs:sequence>
					<xs:element name="text" type="iso:ST"/>
					<xs:element name="font" type="iso:ST" minOccurs="0"/>
					<xs:element name="fontColor" type="iso:ST" minOccurs="0"/>
					<xs:element name="fontEffect" type="iso:ST" minOccurs="0"/>
					<xs:element name="fontSize" type="iso:ST" minOccurs="0"/>
					<xs:element name="fontStyle" type="iso:ST" minOccurs="0"/>
					<xs:element name="textJustify" type="iso:ST" minOccurs="0"/>
					<xs:element name="fontOpacity" type="iso:ST" minOccurs="0"/>
					<xs:element name="geometricShapeEntity" type="GeometricShapeEntity" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ImagingPhysicalEntityHasImagingObservationEntityStatement">
		<xs:complexContent>
			<xs:extension base="AnnotationStatement"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GeometricShapeEntity" abstract="true">
		<xs:complexContent>
			<xs:extension base="MarkupEntity">
				<xs:sequence>
					<xs:element name="questionTypeCode" type="iso:CD" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="shapeIdentifier" type="iso:INT"/>
					<xs:element name="label" type="iso:ST" minOccurs="0"/>
					<xs:element name="description" type="iso:ST" minOccurs="0"/>
					<xs:element name="includeFlag" type="iso:BL"/>
					<xs:element name="comment" type="iso:ST" minOccurs="0"/>
					<xs:element name="lineColor" type="iso:ST" minOccurs="0"/>
					<xs:element name="lineOpacity" type="iso:ST" minOccurs="0"/>
					<xs:element name="lineStyle" type="iso:ST" minOccurs="0"/>
					<xs:element name="lineThickness" type="iso:ST" minOccurs="0"/>
					<xs:element name="questionIndex" type="iso:INT" minOccurs="0"/>
					<xs:element name="interpolationMethod" type="iso:CD" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AdjudicationObservation">
		<xs:sequence>
			<xs:element name="observationUid" type="iso:II"/>
			<xs:element name="observationScope" type="iso:CD"/>
			<xs:element name="personObserversRoleInThisProcedure" type="iso:CD" minOccurs="0"/>
			<xs:element name="identifierWithinAcceptedPersonObserversRole" type="iso:ST" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="identifierWithinRejectedPersonObserversRole" type="iso:ST" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="reasonForChoice" type="iso:CD"/>
			<xs:element name="reasonForDiscordance" type="iso:CD" minOccurs="0"/>
			<xs:element name="comment" type="iso:ST" minOccurs="0"/>
			<xs:element name="imageQualityIssuesDiscordance" type="iso:BL"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Person">
		<xs:sequence>
			<xs:element name="name" type="iso:ST"/>
			<xs:element name="id" type="iso:ST"/>
			<xs:element name="birthDate" type="iso:TS" minOccurs="0"/>
			<xs:element name="sex" type="iso:ST" minOccurs="0"/>
			<xs:element name="ethnicGroup" type="iso:ST" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ThreeDimensionPolygon">
		<xs:complexContent>
			<xs:extension base="ThreeDimensionGeometricShapeEntity"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AnnotationStatement" abstract="true">
		<xs:sequence>
			<xs:element name="subjectUniqueIdentifier" type="iso:II"/>
			<xs:element name="objectUniqueIdentifier" type="iso:II"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ThreeDimensionPolyline">
		<xs:complexContent>
			<xs:extension base="ThreeDimensionGeometricShapeEntity"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Entity" abstract="true">
		<xs:sequence>
			<xs:element name="uniqueIdentifier" type="iso:II"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GeneralLesionObservationEntity">
		<xs:complexContent>
			<xs:extension base="LesionObservationEntity">
				<xs:sequence>
					<xs:element name="trackingIdentifier" type="iso:ST"/>
					<xs:element name="lesionType" type="iso:CD"/>
					<xs:element name="reconstructionInterval" type="iso:CD" minOccurs="0"/>
					<xs:element name="laterality" type="iso:CD" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ImageStudy">
		<xs:sequence>
			<xs:element name="instanceUid" type="iso:II"/>
			<xs:element name="startDate" type="iso:TS"/>
			<xs:element name="startTime" type="iso:TS"/>
			<xs:element name="procedureDescription" type="iso:ST" minOccurs="0"/>
			<xs:element name="imageSeries" type="ImageSeries"/>
			<xs:element name="referencedDicomObjectCollection" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ReferencedDicomObject" type="ReferencedDicomObject" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DicomImageReferenceEntityHasImagingPhysicalEntityStatement">
		<xs:complexContent>
			<xs:extension base="ImageAnnotationStatement"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AnnotationEntityHasPlannedTaskContextEntityStatement">
		<xs:complexContent>
			<xs:extension base="AnnotationStatement"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ImagingPhysicalEntityCharacteristic">
		<xs:sequence>
			<xs:element name="typeCode" type="iso:CD" maxOccurs="unbounded"/>
			<xs:element name="questionTypeCode" type="iso:CD" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="annotatorConfidence" type="iso:REAL" minOccurs="0"/>
			<xs:element name="label" type="iso:ST" minOccurs="0"/>
			<xs:element name="questionIndex" type="iso:INT" minOccurs="0"/>
			<xs:element name="comment" type="iso:ST" minOccurs="0"/>
			<xs:element name="characteristicQuantificationCollection" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CharacteristicQuantification" type="CharacteristicQuantification" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ImagingObservationEntityHasCalculationEntityStatement">
		<xs:complexContent>
			<xs:extension base="AnnotationStatement"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ImagingObservationEntityIsFoundInImagingPhysicalEntityStatement">
		<xs:complexContent>
			<xs:extension base="AnnotationStatement"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AnnotationOfAnnotationIsComparedWithAnnotationOfAnnotationStatement">
		<xs:complexContent>
			<xs:extension base="AnnotationStatement"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DicomImageReferenceEntity">
		<xs:complexContent>
			<xs:extension base="ImageReferenceEntity">
				<xs:sequence>
					<xs:element name="imageStudy" type="ImageStudy"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ImageAnnotationHasTimePointLesionObservationEntityStatement">
		<xs:complexContent>
			<xs:extension base="ImageAnnotationStatement"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ExtendedCalculationResult">
		<xs:complexContent>
			<xs:extension base="CalculationResult">
				<xs:sequence>
					<xs:element name="calculationDataCollection" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="CalculationData" type="CalculationData" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CalculationResult" abstract="true">
		<xs:sequence>
			<xs:element name="unitOfMeasure" type="iso:ST"/>
			<xs:element name="dataType" type="iso:CD"/>
			<xs:element name="dimensionCollection">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Dimension" type="Dimension" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="type" type="CalculationResultIdentifier" use="required"/>
	</xs:complexType>
	<xs:complexType name="UriImageReferenceEntityHasImagingObservationEntityStatement">
		<xs:complexContent>
			<xs:extension base="ImageAnnotationStatement"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TwoDimensionGeometricShapeEntityExcludesTwoDimensionGeometricShapeEntityStatement">
		<xs:complexContent>
			<xs:extension base="ImageAnnotationStatement"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ImageAnnotationIsComparedWithImageAnnotationStatement">
		<xs:complexContent>
			<xs:extension base="AnnotationOfAnnotationStatement"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ImageReferenceEntity" abstract="true">
		<xs:complexContent>
			<xs:extension base="Entity"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CalculationEntity">
		<xs:complexContent>
			<xs:extension base="Entity">
				<xs:sequence>
					<xs:element name="typeCode" type="iso:CD" maxOccurs="unbounded"/>
					<xs:element name="questionTypeCode" type="iso:CD" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="description" type="iso:ST"/>
					<xs:element name="mathML" type="iso:ST" minOccurs="0"/>
					<xs:element name="questionIndex" type="iso:INT" minOccurs="0"/>
					<xs:element name="calculationResultCollection" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="CalculationResult" type="CalculationResult" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="algorithm" type="Algorithm" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ImagingObservationEntity">
		<xs:complexContent>
			<xs:extension base="Entity">
				<xs:sequence>
					<xs:element name="typeCode" type="iso:CD" maxOccurs="unbounded"/>
					<xs:element name="questionTypeCode" type="iso:CD" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="annotatorConfidence" type="iso:REAL" minOccurs="0"/>
					<xs:element name="label" type="iso:ST" minOccurs="0"/>
					<xs:element name="comment" type="iso:ST" minOccurs="0"/>
					<xs:element name="isPresent" type="iso:BL" minOccurs="0"/>
					<xs:element name="questionIndex" type="iso:INT" minOccurs="0"/>
					<xs:element name="imagingObservationCharacteristicCollection" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="ImagingObservationCharacteristic" type="ImagingObservationCharacteristic" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AnnotationEntity" abstract="true">
		<xs:complexContent>
			<xs:extension base="Entity">
				<xs:sequence>
					<xs:element name="typeCode" type="iso:CD" maxOccurs="unbounded"/>
					<xs:element name="dateTime" type="iso:TS"/>
					<xs:element name="name" type="iso:ST"/>
					<xs:element name="comment" type="iso:ST" minOccurs="0"/>
					<xs:element name="precedentReferencedAnnotationUid" type="iso:II" minOccurs="0"/>
					<xs:element name="templateUid" type="iso:II" minOccurs="0"/>
					<xs:element name="auditTrailCollection" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="AuditTrail" type="AuditTrail" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="imagingPhysicalEntityCollection" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="ImagingPhysicalEntity" type="ImagingPhysicalEntity" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="calculationEntityCollection" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="CalculationEntity" type="CalculationEntity" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="inferenceEntityCollection" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="InferenceEntity" type="InferenceEntity" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="annotationRoleEntityCollection" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="AnnotationRoleEntity" type="AnnotationRoleEntity" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="lesionObservationEntityCollection" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="LesionObservationEntity" type="LesionObservationEntity" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="imagingObservationEntityCollection" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="ImagingObservationEntity" type="ImagingObservationEntity" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="taskContextEntityCollection" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="TaskContextEntity" type="TaskContextEntity" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SegmentationEntity" abstract="true">
		<xs:complexContent>
			<xs:extension base="Entity"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ImageAnnotationHasAnnotationRoleEntityStatement">
		<xs:complexContent>
			<xs:extension base="AnnotationOfAnnotationStatement"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ImageAnnotationHasChildImageAnnotationStatement">
		<xs:complexContent>
			<xs:extension base="ImageAnnotationStatement"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="AnnotationOfAnnotationCollection" type="AnnotationOfAnnotationCollection"/>
	<xs:complexType name="AnnotationOfAnnotationCollection">
		<xs:complexContent>
			<xs:extension base="AnnotationCollection">
				<xs:sequence>
					<xs:element name="annotationOfAnnotations">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="AnnotationOfAnnotation" type="AnnotationOfAnnotation" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TaskContextEntity">
		<xs:complexContent>
			<xs:extension base="Entity">
				<xs:sequence>
					<xs:element name="worklistTaskUid" type="iso:II"/>
					<xs:element name="worklistTaskName" type="iso:ST"/>
					<xs:element name="worklistTaskDescription" type="iso:ST"/>
					<xs:element name="worklistTaskCategory" type="iso:CD"/>
					<xs:element name="worklistTaskLevel" type="iso:CD"/>
					<xs:element name="worklistTaskType" type="iso:CD"/>
					<xs:element name="worklistTaskRepeatType" type="iso:CD" minOccurs="0"/>
					<xs:element name="worklistTaskVariabilityType" type="iso:CD" minOccurs="0"/>
					<xs:element name="worklistTaskVersion" type="iso:ST"/>
					<xs:element name="worklistSubtaskUid" type="iso:II"/>
					<xs:element name="worklistSubtaskName" type="iso:ST"/>
					<xs:element name="worklistSubtaskStartDateTime" type="iso:TS"/>
					<xs:element name="worklistSubtaskClosedDateTime" type="iso:TS"/>
					<xs:element name="taskContextEntityCollection" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="TaskContextEntity" type="TaskContextEntity" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ImagingPhysicalEntityHasTwoDimensionGeometricShapeEntityStatement">
		<xs:complexContent>
			<xs:extension base="ImageAnnotationStatement"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AnnotationOfAnnotation">
		<xs:complexContent>
			<xs:extension base="AnnotationEntity">
				<xs:sequence>
					<xs:element name="adjudicationObservation" type="AdjudicationObservation" minOccurs="0"/>
					<xs:element name="annotationOfAnnotationStatementCollection" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="AnnotationOfAnnotationStatement" type="AnnotationStatement" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ImageAnnotationHasImagingObservationEntityStatement">
		<xs:complexContent>
			<xs:extension base="ImageAnnotationStatement"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ImageAnnotationHasTextAnnotationEntityStatement">
		<xs:complexContent>
			<xs:extension base="ImageAnnotationStatement"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Algorithm">
		<xs:sequence>
			<xs:element name="name" type="iso:ST"/>
			<xs:element name="type" type="iso:CD" maxOccurs="unbounded"/>
			<xs:element name="uniqueIdentifier" type="iso:II" minOccurs="0"/>
			<xs:element name="version" type="iso:ST" minOccurs="0"/>
			<xs:element name="description" type="iso:ST" minOccurs="0"/>
			<xs:element name="parameterCollection" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Parameter" type="Parameter" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UriImageReferenceEntity">
		<xs:complexContent>
			<xs:extension base="ImageReferenceEntity">
				<xs:sequence>
					<xs:element name="uri" type="iso:ST"/>
					<xs:element name="mimeType" type="iso:ST"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ImagingPhysicalEntityHasCalculationEntityStatement">
		<xs:complexContent>
			<xs:extension base="AnnotationStatement"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CalculationEntityUsesCalculationEntityStatement">
		<xs:complexContent>
			<xs:extension base="AnnotationStatement"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ImagePlane">
		<xs:sequence>
			<xs:element name="rowImageOrientationX" type="iso:REAL" minOccurs="0"/>
			<xs:element name="rowImageOrientationY" type="iso:REAL" minOccurs="0"/>
			<xs:element name="rowImageOrientationZ" type="iso:REAL" minOccurs="0"/>
			<xs:element name="columnImageOrientationX" type="iso:REAL" minOccurs="0"/>
			<xs:element name="columnImageOrientationY" type="iso:REAL" minOccurs="0"/>
			<xs:element name="columnImageOrientationZ" type="iso:REAL" minOccurs="0"/>
			<xs:element name="verticalPixelSpacing" type="iso:REAL" minOccurs="0"/>
			<xs:element name="horizontalPixelSpacing" type="iso:REAL" minOccurs="0"/>
			<xs:element name="sliceThickness" type="iso:REAL" minOccurs="0"/>
			<xs:element name="imagePositionX" type="iso:REAL" minOccurs="0"/>
			<xs:element name="imagePositionY" type="iso:REAL" minOccurs="0"/>
			<xs:element name="imagePositionZ" type="iso:REAL" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AnnotationRoleEntity">
		<xs:complexContent>
			<xs:extension base="Entity">
				<xs:sequence>
					<xs:element name="roleCode" type="iso:CD"/>
					<xs:element name="questionTypeCode" type="iso:CD" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="roleSequenceNumber" type="iso:INT" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="User">
		<xs:sequence>
			<xs:element name="name" type="iso:ST"/>
			<xs:element name="loginName" type="iso:ST"/>
			<xs:element name="roleInTrial" type="iso:ST" minOccurs="0"/>
			<xs:element name="numberWithinRoleOfClinicalTrial" type="iso:INT" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Numerical">
		<xs:complexContent>
			<xs:extension base="CharacteristicQuantification">
				<xs:sequence>
					<xs:element name="ucumString" type="iso:ST"/>
					<xs:element name="value" type="iso:REAL"/>
				</xs:sequence>
				<xs:attribute name="operator" type="ComparisonOperator" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Interval">
		<xs:complexContent>
			<xs:extension base="CharacteristicQuantification">
				<xs:sequence>
					<xs:element name="minValue" type="iso:REAL"/>
					<xs:element name="maxValue" type="iso:REAL"/>
					<xs:element name="ucumString" type="iso:ST"/>
				</xs:sequence>
				<xs:attribute name="minOperator" type="ComparisonOperator" use="required"/>
				<xs:attribute name="maxOperator" type="ComparisonOperator" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TwoDimensionEllipse">
		<xs:complexContent>
			<xs:extension base="TwoDimensionGeometricShapeEntity"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ImagingPhysicalEntity">
		<xs:complexContent>
			<xs:extension base="Entity">
				<xs:sequence>
					<xs:element name="typeCode" type="iso:CD" maxOccurs="unbounded"/>
					<xs:element name="questionTypeCode" type="iso:CD" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="isPresent" type="iso:BL" minOccurs="0"/>
					<xs:element name="annotatorConfidence" type="iso:REAL" minOccurs="0"/>
					<xs:element name="label" type="iso:ST" minOccurs="0"/>
					<xs:element name="questionIndex" type="iso:INT" minOccurs="0"/>
					<xs:element name="comment" type="iso:ST" minOccurs="0"/>
					<xs:element name="imagingPhysicalEntityCharacteristicCollection" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="ImagingPhysicalEntityCharacteristic" type="ImagingPhysicalEntityCharacteristic" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="imagingObservationCharacteristicCollection" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="ImagingObservationCharacteristic" type="ImagingObservationCharacteristic" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AnnotationOfAnnotationHasImagingPhysicalEntityStatement">
		<xs:complexContent>
			<xs:extension base="AnnotationOfAnnotationStatement"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ThreeDimensionGeometricShapeEntity" abstract="true">
		<xs:complexContent>
			<xs:extension base="GeometricShapeEntity">
				<xs:sequence>
					<xs:element name="frameOfReferenceUid" type="iso:II" minOccurs="0"/>
					<xs:element name="fiducialUid" type="iso:II" minOccurs="0"/>
					<xs:element name="threeDimensionSpatialCoordinateCollection">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="ThreeDimensionSpatialCoordinate" type="ThreeDimensionSpatialCoordinate" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ThreeDimensionEllipse">
		<xs:complexContent>
			<xs:extension base="ThreeDimensionGeometricShapeEntity"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AnnotationOfAnnotationHasCalculationEntityStatement">
		<xs:complexContent>
			<xs:extension base="AnnotationOfAnnotationStatement"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ThreeDimensionEllipsoid">
		<xs:complexContent>
			<xs:extension base="ThreeDimensionGeometricShapeEntity"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ImageAnnotation">
		<xs:complexContent>
			<xs:extension base="AnnotationEntity">
				<xs:sequence>
					<xs:element name="segmentationEntityCollection" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="SegmentationEntity" type="SegmentationEntity" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="markupEntityCollection" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="MarkupEntity" type="MarkupEntity" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="imageAnnotationStatementCollection" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="ImageAnnotationStatement" type="AnnotationStatement" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="imageReferenceEntityCollection" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="ImageReferenceEntity" type="ImageReferenceEntity" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="InferenceEntity">
		<xs:complexContent>
			<xs:extension base="Entity">
				<xs:sequence>
					<xs:element name="imageEvidence" type="iso:BL"/>
					<xs:element name="isPresent" type="iso:BL" minOccurs="0"/>
					<xs:element name="typeCode" type="iso:CD" maxOccurs="unbounded"/>
					<xs:element name="questionTypeCode" type="iso:CD" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="annotatorConfidence" type="iso:REAL" minOccurs="0"/>
					<xs:element name="description" type="iso:ST" minOccurs="0"/>
					<xs:element name="label" type="iso:ST" minOccurs="0"/>
					<xs:element name="questionIndex" type="iso:INT" minOccurs="0"/>
					<xs:element name="comment" type="iso:ST" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ImageAnnotationHasUriImageReferenceEntityStatement">
		<xs:complexContent>
			<xs:extension base="ImageAnnotationStatement"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ImageAnnotationHasCalculationEntityStatement">
		<xs:complexContent>
			<xs:extension base="ImageAnnotationStatement"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ThreeDimensionMultiPoint">
		<xs:complexContent>
			<xs:extension base="ThreeDimensionGeometricShapeEntity"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Equipment">
		<xs:sequence>
			<xs:element name="manufacturerName" type="iso:ST"/>
			<xs:element name="manufacturerModelName" type="iso:ST" minOccurs="0"/>
			<xs:element name="deviceSerialNumber" type="iso:ST" minOccurs="0"/>
			<xs:element name="softwareVersion" type="iso:ST" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TwoDimensionPolyline">
		<xs:complexContent>
			<xs:extension base="TwoDimensionGeometricShapeEntity"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ImageAnnotationHasThreeDimensionGeometricShapeEntityStatement">
		<xs:complexContent>
			<xs:extension base="ImageAnnotationStatement"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ImageAnnotationHasDicomSegmentationEntityStatement">
		<xs:complexContent>
			<xs:extension base="ImageAnnotationStatement"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TwoDimensionGeometricShapeEntity" abstract="true">
		<xs:complexContent>
			<xs:extension base="GeometricShapeEntity">
				<xs:sequence>
					<xs:element name="imageReferenceUid" type="iso:II" minOccurs="0"/>
					<xs:element name="referencedFrameNumber" type="iso:INT" minOccurs="0"/>
					<xs:element name="uri" type="iso:ST" minOccurs="0"/>
					<xs:element name="twoDimensionSpatialCoordinateCollection">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="TwoDimensionSpatialCoordinate" type="TwoDimensionSpatialCoordinate" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AnnotationOfAnnotationStatement" abstract="true">
		<xs:complexContent>
			<xs:extension base="AnnotationStatement"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ImagingPhysicalEntityHasThreeDimensionGeometricShapeEntityStatement">
		<xs:complexContent>
			<xs:extension base="ImageAnnotationStatement"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TwoDimensionSpatialCoordinate">
		<xs:sequence>
			<xs:element name="coordinateIndex" type="iso:INT"/>
			<xs:element name="x" type="iso:REAL"/>
			<xs:element name="y" type="iso:REAL"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ImageAnnotationCollection" type="ImageAnnotationCollection"/>
	<xs:complexType name="ImageAnnotationCollection">
		<xs:complexContent>
			<xs:extension base="AnnotationCollection">
				<xs:sequence>
					<xs:element name="person" type="Person" minOccurs="0"/>
					<xs:element name="imageAnnotations">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="ImageAnnotation" type="ImageAnnotation" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
