AimPlugin4.5/AIM.Annotation/Template/AIMTemplate_v1rv18.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 (http://www.altova.com) by Pat Mongkolwat (Northwestern University) -->
<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="gme://caCORE.caCORE/3.2/edu.northwestern.radiology.AIMTemplate" targetNamespace="gme://caCORE.caCORE/3.2/edu.northwestern.radiology.AIMTemplate" elementFormDefault="qualified" version="AIMTemplate_v1_rv18">
	<xs:simpleType name="operator">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Equal"/>
			<xs:enumeration value="NotEqual"/>
			<xs:enumeration value="LessThan"/>
			<xs:enumeration value="GreaterThan"/>
			<xs:enumeration value="LessThanEqual"/>
			<xs:enumeration value="GreaterThanEqual"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ValidTerm">
		<xs:attribute name="codeValue" type="xs:string" use="required"/>
		<xs:attribute name="codeMeaning" type="xs:string" use="required"/>
		<xs:attribute name="codingSchemeDesignator" type="xs:string" use="required"/>
		<xs:attribute name="codingSchemeVersion" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="Numerical">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="value" type="xs:double" use="required"/>
				<xs:attribute name="ucumString" type="xs:string" use="required"/>
				<xs:attribute name="operator" type="operator"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Interval">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="minValue" type="xs:double" use="required"/>
				<xs:attribute name="maxValue" type="xs:double" use="required"/>
				<xs:attribute name="minOperator" type="operator" use="required"/>
				<xs:attribute name="maxOperator" type="operator" use="required"/>
				<xs:attribute name="ucumString" type="xs:string" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="CharacteristicQuantification">
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="annotatorConfidence" type="xs:boolean" use="required"/>
	</xs:complexType>
	<xs:complexType name="OrdinalLevel">
		<xs:attribute name="integerValue" type="xs:integer" use="required"/>
		<xs:attribute name="description" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="Scale">
		<xs:sequence minOccurs="2" maxOccurs="unbounded">
			<xs:element name="OrdinalLevel" type="OrdinalLevel"/>
		</xs:sequence>
		<xs:attribute name="description" type="xs:string"/>
		<xs:attribute name="comment" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="Quantile">
		<xs:attribute name="bins" type="xs:integer" use="required"/>
	</xs:complexType>
	<xs:complexType name="ComponentCharacteristicCollection">
		<xs:attribute name="label" type="xs:string"/>
		<xs:attribute name="componentCharacteristicItemNumber" type="xs:integer"/>
		<xs:attribute name="itemNumber" type="xs:integer"/>
	</xs:complexType>
	<xs:element name="TemplateContainer">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Template" maxOccurs="unbounded">
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="Template"/>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="version" type="xs:string" use="required"/>
			<xs:attribute name="description" type="xs:string" use="required"/>
			<xs:attribute name="authors" type="xs:string"/>
			<xs:attribute name="creationDate" type="xs:date"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="Template">
		<xs:sequence>
			<xs:element name="Component" maxOccurs="unbounded">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="Component"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="version" type="xs:string" use="required"/>
		<xs:attribute name="description" type="xs:string" use="required"/>
		<xs:attribute name="uid" type="xs:string" use="required"/>
		<xs:attribute name="codeValue" type="xs:string" use="required"/>
		<xs:attribute name="codeMeaning" type="xs:string" use="required"/>
		<xs:attribute name="codingSchemeDesignator" type="xs:string" use="required"/>
		<xs:attribute name="codingSchemeVersion" type="xs:string"/>
		<xs:attribute name="authors" type="xs:string"/>
		<xs:attribute name="creationDate" type="xs:date"/>
	</xs:complexType>
	<xs:complexType name="AnatomicEntityCharacteristic">
		<xs:complexContent>
			<xs:extension base="ComponentCharacteristic">
				<xs:attribute name="annotatorConfidence" type="xs:boolean" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ImagingObservationCharacteristic">
		<xs:complexContent>
			<xs:extension base="ComponentCharacteristic">
				<xs:attribute name="annotatorConfidence" type="xs:boolean" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Component">
		<xs:sequence>
			<xs:choice>
				<xs:element name="AnatomicEntity">
					<xs:complexType>
						<xs:sequence minOccurs="0">
							<xs:element name="AnatomicEntityCharacteristic" type="AnatomicEntityCharacteristic" maxOccurs="unbounded"/>
						</xs:sequence>
						<xs:attribute name="annotatorConfidence" type="xs:boolean" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="ImagingObservation">
					<xs:complexType>
						<xs:sequence minOccurs="0">
							<xs:element name="ImagingObservationCharacteristic" type="ImagingObservationCharacteristic" maxOccurs="unbounded"/>
						</xs:sequence>
						<xs:attribute name="annotatorConfidence" type="xs:boolean" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="Inference">
					<xs:complexType>
						<xs:attribute name="annotatorConfidence" type="xs:boolean" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="Calculation">
					<xs:complexType>
						<xs:attribute name="description" type="xs:string" use="required"/>
						<xs:attribute name="mathML" type="xs:string"/>
						<xs:attribute name="algorithmName" type="xs:string"/>
						<xs:attribute name="algorithmVersion" type="xs:string"/>
					</xs:complexType>
				</xs:element>
			</xs:choice>
			<xs:element name="AllowedTerm" maxOccurs="unbounded">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="ValidTerm">
							<xs:sequence minOccurs="0">
								<xs:element name="NonQuantifiable" maxOccurs="unbounded">
									<xs:complexType>
										<xs:attribute name="codeValue" type="xs:string" use="required"/>
										<xs:attribute name="codeMeaning" type="xs:string" use="required"/>
										<xs:attribute name="codingSchemeDesignator" type="xs:string" use="required"/>
										<xs:attribute name="codingSchemeVersion" type="xs:string"/>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="label" type="xs:string" use="required"/>
		<xs:attribute name="minCardinality" type="xs:nonNegativeInteger" use="required"/>
		<xs:attribute name="maxCardinality" type="xs:nonNegativeInteger" use="required"/>
		<xs:attribute name="itemNumber" type="xs:integer" use="required"/>
		<xs:attribute name="shouldDisplay" type="xs:boolean" use="required"/>
		<xs:attribute name="explanatoryText" type="xs:string"/>
		<xs:attribute name="authors" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="ComponentCharacteristic">
		<xs:sequence>
			<xs:element name="AllowedTerm" maxOccurs="unbounded">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="ValidTerm">
							<xs:sequence minOccurs="0">
								<xs:element name="CharacteristicQuantification">
									<xs:complexType>
										<xs:complexContent>
											<xs:extension base="CharacteristicQuantification">
												<xs:sequence>
													<xs:choice minOccurs="0">
														<xs:element name="Scale" type="Scale"/>
														<xs:element name="Numerical" type="Numerical" maxOccurs="unbounded"/>
														<xs:element name="Interval" type="Interval" maxOccurs="unbounded"/>
														<xs:element name="Quantile" type="Quantile"/>
													</xs:choice>
													<xs:element name="NonQuantifiable" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:attribute name="codeValue" type="xs:string" use="required"/>
															<xs:attribute name="codeMeaning" type="xs:string" use="required"/>
															<xs:attribute name="codingSchemeDesignator" type="xs:string" use="required"/>
															<xs:attribute name="codingSchemeVersion" type="xs:string"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:extension>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="label" type="xs:string" use="required"/>
		<xs:attribute name="minCardinality" type="xs:nonNegativeInteger" use="required"/>
		<xs:attribute name="maxCardinality" type="xs:nonNegativeInteger" use="required"/>
		<xs:attribute name="itemNumber" type="xs:integer" use="required"/>
		<xs:attribute name="shouldDisplay" type="xs:boolean" use="required"/>
		<xs:attribute name="explanatoryText" type="xs:string"/>
		<xs:attribute name="authors" type="xs:string"/>
	</xs:complexType>
</xs:schema>
